.nav {
    display: flex;
    width: 10vw;
    height: 100vh;
    flex-wrap: wrap;
    background-color: goldenrod;
    margin-right: 10vw;
}

.links {
    height: 10vh;
    margin-left: 2vw;
    margin-top: 2vh;
}

.nav a.active {
    color: cornflowerblue;
}

.nav a {
    color: white;
    margin-right: 2vw;
    margin-bottom: 2vw;

}

.nav a:hover {
    color: violet;
}